.App {
  margin: auto;
  padding: 1rem;
}
h1 {
  margin: 2rem;
}

p {
  margin: 2rem 0 1rem 1rem;
  color: #908c8c;
}

.inputs {
  margin: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}

.helpers,
.icons,
.sizes {
  display: flex;
  gap: 4rem;
}

.label,
.input {
  transition: all 0.3s ease-in-out;
}

input,
textarea {
  margin: 0.25rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.55rem;
  width: 30vh;
}

.input-container:hover,
.input-container:hover label,
.input-container:hover input {
  color: #000;
}

.input-container:hover input {
  border: 1px solid #000;
}

.input-container:focus-within,
.input-container:focus-within label {
  color: #2962ff;
}

.input-container:focus-within input.input.focused:focus-visible {
  outline: 2px solid#2962ff;
}

.material-icons {
  position: absolute;
  top: 50%;
  transform: translate(-5%, -20%);
  font-size: 1.15rem;
  padding: 0.5rem;
  color: #000;
}

.icon input.input--icon-left {
  padding-left: 2rem;
}

.icon input.input--icon-right {
  padding-right: 2rem;
}

.icon.right input.input--icon-right {
  padding-right: 4rem;
}

.material-icons.right {
  right: 0;
  transform: translate(5%, -20%);
}

.input--size-sm {
  font-size: 0.75rem;
}

.input--size-md {
  font-size: 1rem;
}

.input--size-lg {
  font-size: 1.25rem;
}

.input--fullWidth {
  width: 100%;
}

/* .input--multiline {
} */

.input--color-default {
  color: #000;
}

.input--color-primary {
  color: blue;
}

.input--color-secondary {
  color: gray;
}

.input-container.error,
label.label--error,
.input--error {
  color: red;
}
.input--error {
  border-color: red;
}

.input-container.error:hover,
.input-container.error:hover label,
.input-container.error:hover input {
  color: #000;
}

.input-container.error:focus-within div,
.input-container.error:focus-within label {
  color: red;
}
.input-container.error:focus-within input.input--error.focused:focus-visible {
  outline: 2px solid red !important;
}

.label--disabled {
  color: #909090;
}
.input--disabled {
  background-color: #eee;
}
